{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Recipe</title>
</head>
<body>
    <h1> Recipe Book </h1>
    {% block body %} 
    {% endblock %}

    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

    {% else %}
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <button type="submit">Login</button>
    </form>
    {% endif %}

</body>
</html>