{% extends 'ledger/base.html' %}


{% block body %}
<form action="/recipes/list" method="post">
    {% csrf_token %}
    <label for="recipe_name">
        <span>Recipe Name</span>
        <input type="text" id="recipe_name" name="recipe_name">
    </label>

    <select name="recipe_author" id="recipe_author">
        {% for author in authors %}
            <option value="{{ author.pk }}"> {{ author.name }} </option>
        {% endfor %}
    </select>

    <label for="recipe_created">
        <span>Recipe Created On</span>
        <input type="datetime-local" id="recipe_created" name="recipe_created">
    </label>

    <label for="recipe_updated">
        <span>Recipe Updated On</span>
        <input type="datetime-local" id="recipe_updated" name="recipe_updated">
    </label>

    <input type="submit" name="submit" value="Save Form">

</form>
{% endblock %}