{% extends 'ledger/base.html' %}

{% block body %}
    <h2> {{ recipe.name }} by {{ recipe.author.name }}</h3>
    <ul>
        {% for recipe_ingredient in recipe.ingredients.all %}
            <li>{{ recipe_ingredient.ingredient.name }} : {{ recipe_ingredient.quantity }}</li>
        {% endfor %}
    </ul>

    <form method="post">
        {% csrf_token %}
        <select name="ingredient" id="ingredient">
            {% for ingredient in ings %}
                <option value="{{ ingredient.pk }}">{{ ingredient.name }}</option></li>
            {% endfor %}
        </select>
    
        <label for="quantity">
            <span>Quantity</span>
            <input type="text" id="quantity" name="quantity">
        </label>
    
        <input type="submit" name="submit" value="Save Form">
    
    </form>
{% endblock %}