{% extends 'ledger/base.html' %}

{% block body %}
    <h2> {{ recipe.name }} by {{ recipe.author.name }}</h2>
    <ul>
        {% for recipe_ingredient in recipe.ingredients.all %}
            <li>{{ recipe_ingredient.ingredient.name }} : {{ recipe_ingredient.quantity }}</li>
        {% endfor %}
    </ul>

    {% for image in recipe.images.all %}
        {% if image.recipe_image %}
            <img src="{{ image.recipe_image.url }}" alt="{{ image.description }}">
        {% endif %}
    {% endfor %}

    <br>
    <br>

    <a href="/recipe/{{ recipe.pk }}/add"> Add image </a>

    <br>

    <a href="/recipes/list"> Back to List </a>

{% endblock %}